{% extends 'base.html'%}
{% comment %} {% extends 'show_base.html' %} {% endcomment %}





{% comment %} {% block title %} My TopTen {% endblock %}  {% endcomment %}


{% comment %} {% for i in info %} {% endcomment %}

{% load First %}

{% load humanize %}
{% for i in movies %}
    <p>{{i.Title|lst}}</p>
{% endfor %}


{% comment %} {% block t %}

{% for i in info %}
  
    {{i.Title}}
    {% block b %} {{i.body}}   {% endblock  %}
    

    {% endfor %}
    
    {% endblock  %} {% endcomment %}
    
{% comment %} {% endfor %} {% endcomment %}

